doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="icon", href="/img/favicon.png")
    link(rel="stylesheet", href="/css/style.css")
  body
    block content
    script(src="/js/main.js", type="module")